@font-face {
	font-family: 'ComforterBrush-Regular';
	src: url(../../assets/fonts/ComforterBrush-Regular.woff) format('woff'),
	url(../../assets/fonts/ComforterBrush-Regular.woff) format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}