.row {
  display: flex;
}

.col {
  flex: 1;
  padding: 20px;
  /*text-align: center;*/
  /*background-color: #f2f2f2;*/
  /*border: 1px solid #ddd;*/
}

.overlay-mask-container {
  position: relative;
}

.overlay-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
}

.title-description {
  position: absolute;
  /*text-align: center;*/
  /*justify-content: center;*/
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*padding: 10px;*/
}

header {
  text-align: center;
}

hr {
  width: 150px;
  padding: .5px;
}

.youtube-clip {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*z-index: -10;*/
  padding: 0px;
}

#imagePreview {
  text-align: center;
  margin: 50px;
}

#imageURL {
  width: 70%;
  padding: 5px;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}

#previewLink {
  display: block;
  margin-top: 10px;
}

p5 {
  justify-content: center;
  text-align: center;
  color: #f9f9f9;
}

trademark {
  font-family: ComforterBrush-Regular;
  justify-content: center;
  text-align: center;
  color: #8b0000;
}

a {
  color: #f9f9f9;
}

a:hover {
  color: #8b0000;
}

.visualizer-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 426px;
  height: 240px;
  max-width: 100%;
}

canvas {
  display: block;
  background-color: #333;
  border-radius: 8px;
  width: 426px;
  height: 240px;
  max-width: 100%;
}

#watermark-container {
  position: fixed;
  bottom: 0;
  right: 0;
}

#watermark-image {
  padding: 10px;
  width: 100px;
  height: auto;
  opacity: .5;
}

footer {
  position: fixed;
  bottom: 0;
  padding: 10px;
}

h6 {
  position: relative;
  text-align: center;
  color: #f9f9f9;
}

